<section id="about-me" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>About Me</h2>
                <p class="lead">Hi! I'm Saksham Mago, a passionate web developer with experience in front-end and back-end technologies. I love creating clean, efficient, and user-friendly websites.</p>
                <p>With a strong foundation in HTML, CSS, JavaScript, and Node.js, I build responsive and functional web applications. I'm constantly learning new techniques and staying up-to-date with the latest trends in web development.</p>
            </div>
            <div class="col-lg-6">
                <img src="/images/profile.jpg" alt="Profile Picture" class="img-fluid rounded-circle">
            </div>
        </div>
    </div>
</section>

<!-- Skills Section -->
<section id="skills" class="bg-light py-5">
    <div class="container">
        <h2 class="text-center">My Skills</h2>
        <div class="row">
            <div class="col-md-4">
                <h4>Front-End</h4>
                <ul>
                    <li>HTML5 & CSS3</li>
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Back-End</h4>
                <ul>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>MongoDB</li>
                    <li>MySQL</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Other Skills</h4>
                <ul>
                    <li>Git & GitHub</li>
                    <li>RESTful APIs</li>
                    <li>Responsive Design</li>
                    <li>Agile Methodology</li>
                </ul>
            </div>
        </div>
    </div>
</section>
