<h1 class="text-center">My Projects</h1>
<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <!-- Correct image path -->
            <img src="/images/1662363673907.png" class="card-img-top" alt="Project 1">
            <div class="card-body">
                <h5 class="card-title">Project One</h5>
                <p class="card-text">A brief description of Project One.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <!-- Correct image path -->
            <img src="/images/download.jpg" class="card-img-top" alt="Project 2">
            <div class="card-body">
                <h5 class="card-title">Project Two</h5>
                <p class="card-text">A brief description of Project Two.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <!-- Correct image path -->
            <img src="/images/1662363673907.png" class="card-img-top" alt="Project 2">
            <div class="card-body">
                <h5 class="card-title">Project Two</h5>
                <p class="card-text">A brief description of Project Two.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <!-- Correct image path -->
            <img src="/images/download.jpg" class="card-img-top" alt="Project 2">
            <div class="card-body">
                <h5 class="card-title">Project Two</h5>
                <p class="card-text">A brief description of Project Two.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <!-- Correct image path -->
            <img src="/images/1662363673907.png" class="card-img-top" alt="Project 2">
            <div class="card-body">
                <h5 class="card-title">Project Two</h5>
                <p class="card-text">A brief description of Project Two.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <!-- Correct image path -->
            <img src="/images/download.jpg" class="card-img-top" alt="Project 2">
            <div class="card-body">
                <h5 class="card-title">Project Two</h5>
                <p class="card-text">A brief description of Project Two.</p>
            </div>
        </div>
    </div>
</div>
